# Python
__pycache__/
*.py[cod]
*.so

# Virtualenv
.venv/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
mydatabase
staticfiles/
media/

# Environment
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Compiled
*.egg-info/

# Local artifacts
*.zip
*.tar.gz

