*root {
    font-size: 16px;
  }
  
  body {
    font-family: "Open sans", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: calc(100vh - 30px);
    background-color: #f7f6ff;
  }
  
  .main-container {
    text-align: center;
    margin: 20px;
  }
  
  .phishing-container {
    background-color: #ccccff;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #cec6c6;
    padding: 30px;
    border-radius: 10px;
  }
  input[type="button"] {
    padding: 10px 55px;
    background-color: #282885;
    color: #fff;
    border: 0;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    width: 100 px;
  }
  .input-field {
    border: 0;
    border-radius: 3px;
    height: 24px;
    width: 300px;
  }
  .input-field:focus {
    border: 1px solid #6666ff;
  }
  .title {
    color: #c01111;
  }
  .url span {
    font-weight: bold;
  }
  .results-container {
    margin-top: 20px;
  }
  .results-container span {
    text-decoration: underline;
    font-weight: bold;
  }
  .submit {
    margin-left: 10px;
  }
  